[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
panda = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
opencv-python = "*"
pillow = "*"
scikit-image = "*"
scipy = "*"
requests = "*"
scikit-learn = "*"
urllib3 = ">=1.24.2"
seaborn = "*"

[requires]
python_version = "3.7"
