[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
panda = "*"
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
opencv-python = "*"
pillow = "*"
scikit-image = "*"
scipy = "*"
requests = "*"
sklearn = "*"

[requires]
python_version = "3.7"
